# Labo 4 Data Science : pandas

### 1. Pandas Series

__Oefening 1 __ 
* Genereer een serie 1 vertrekkende van een lijst (met alle letters van het alfabet)
* Genereer een serie 2 vertrekkende van een numpy array 
(met hierin de cijfers van 1 tot 26) 
* Genereer een serie 3 vertrekkende van een dict (met als key de cijfers van 1 tot 26 en als value de letters van het alfabet). 

Geef de index en data values van deze series een naam (name attribute) en druk de eerste en laatste elementen van de series uit.
Geef nu ook : 

* alle elementen van serie 1 die zich op posities $0,4,8,14$ en $20$ bevinden
* alle elementen van serie 1 die ook in serie 3 aanwezig zijn
* alle elementen van serie 2 die niet in serie 3 aanwezig zijn
* verdubbel elke waarde van serie 2

__Oefening 2 __ 

Gegeven een serie opgevuld met 10 stukken fruit uit de soorten : apple, lemon,banana,kiwi

```
fruit = pd.Series(np.random.choice(['apple','lemon', 'banana','kiwi'], 10))
```
Genereer voor elk element in de serie een gewicht voor het fruit. Geef dan per soort het gemiddeld gewicht. Denk hierbij aan de functie $groupby$ die je kan toepassen op een serie. Gebruik 1 van de numpy $random$ methodes om 10 random gewichten te genereren.

### 2. Pandas Data Frames

In [ ]:
df1 = pd.concat([ser2, ser3], axis=0)
print(df1)
print()

df2 = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df2.head())

__Oefening 3 __
Gegeven 3 csv files : _ratings.csv_ , _payments_csv_ en _genres.csv_ . 

* Load deze files in als 3 aparte data frames. Bekijk de gegevens in deze frames oa. via $head()$, $tail()$, $describe()$ en $info()$

* plot de top 10 genre restaurants uit, m.a.w. welk type restaurants is het meest vertegenwoordigd in deze data, toon alleen de top 10. Voor zie op de x-as de verschillende types en op de y-as de aantallen. (_Tip_ : gebruik de $value_counts$ methode) 

* plot de verschillende betalingsmanieren t.o.v. hoe vaak deze zijn gebruikt in de data

__ Oefening 4 __
Merge de 3 bovenstaande dataframes tot 1 dataframe. Zorg ervoor dat alle user ratings mee opgenomen zijn in deze tabel.

__Oefening 5__ Data cleaning : opsporen van ontbrekende data

Ga na hoeveel data ontbreekt in je gemergd eindresultaat (aantal NA's). Maak hiertoe een nieuwe dataframe aan. De eerste kolom is het aantal NAN's voor elke kolom van je gemerged eindresultaat. De tweede kolom is het percentage van NA's. _Tip :_ gebruik de $isnull$ methode.

__ Oefening 5 vervolg __ 

De _Upayment_ kolom heeft een verwaarloosbaar percentage aan niet ingevulde velden. Deze zet je via de $fillna$ methode op de default betaalwijze : 'cash'

De _Rtype_ kolom heeft echter een hoog percentage aan niet ingevulde data. De rijen waarvoor dit het geval is mag je verwijderen.

__Oefening 6__ Data grouping : 

Groepeer je opgekuiste datatabel volgens het type restaurant. Maak nu een datatabel waarin je de verschillende ratings per type restaurants gesorteerd (van groot naar klein) weergeeft.

Plot voor elk restauranttype de verschillende ratings in een barplot.