# Labo 2 Data Science : Data structures in Python

### Dictionnaries

$Oefening 1$ : Vervolledig eerst oef5, oef6 en oef7 van Labo1. 

_Tip_ : Onderstaand stukje code toont hoe je simpel de lijnen uit een tekstbestand kan omzetten naar een lijst in Python waarvan elk element opnieuw een lijst is.

In [ ]:
path1 = 'C:/Users/katja.verbeeck/Documents/Python Scripts/DataLabo_01.txt'
with open(path1) as f:
    data = [x for x in f]
print(data)
data = [x.rstrip() for x in data]
print(data)
data = [d.split(' ') for d in data]
print(data)

### Tuples

Tuples in Python zijn bedoeld om heterogene data te groeperen. In andere talen kan je dit vergelijken met het concept van records of zelfs structs. Syntactisch gezien, gaat het om een sequentie van waarden gescheiden door een komma. Wat bewerkingen betreft kan je ze vergelijken met Strings: indexering en slicing kan, maar ze zijn eveneens onveranderbaar. Hieronder nog enkele leuke eigenschappen van tuples:

In [ ]:
# Packing en unpacking
student = ("Bob", 19,"Computer Science")
name,age,studies = student
print(name,age,studies)

#swapping
print(name,age)
name,age = age,name
print(name,age)

#het aantal vars en waarden moet wel kloppen natuurlijk
#(a,b,c,d) = (1,2,3)

#Tuples als return waarden : je kan meerdere resultaten teruggeven
from math import pi
def omtrek_opp(straal):
    omtrek = round(2 * pi * straal * 100) / 100
    opp = round(pi * straal**2 * 100) / 100
    return (omtrek,opp)

omtrek_opp(5)

$Oefening 2$ : Werk opnieuw met de txt file van verjaardagen : $DataLabo\_01.txt$. Lees deze nu in als een lijst van tuples als volgt : elk tuple bevat als eerste element de naam van de persoon, het tweede element is zijn geboortedatum maar nu omgevormd tot een $date$ object :
        ('Bruce Springsteen' datetime.date(1949,9,23))
        
_Let op_ : de .txt file bevat ergens een type-fout in een datum, de bedoeling is dat je code deze foutieve data kan negeren

In [21]:
import datetime

with open('DataLabo1_01.txt') as infile:
    lines = infile.readlines()
    

def datify(s):
    s = s.replace('\n','').split('/')

    return datetime.date(int(s[2]), int(s[0]), int(s[1]))


def parser(lines):
    sol = []
    for l in lines:
        l= l.split(' ')
        try:
            d = datify(l.pop())
        except ValueError:
            print('euh')
            d = 'NaN'
        name = ' '.join(l)
        sol.append((name,d))
    return sol



sol = parser(lines)


print(sol)

[('Albert Einstein', datetime.date(1879, 3, 14)), ('Benjamin Franklin', datetime.date(1706, 1, 17)), ('J. Edgar Hoover', datetime.date(1895, 1, 1)), ('Mel Gibson', datetime.date(1956, 1, 3)), ('Michael Schumacher', datetime.date(1969, 1, 3)), ('Richard Nixon', datetime.date(1913, 1, 9)), ('Orlando Bloom', datetime.date(1977, 1, 13)), ('Kate Moss', datetime.date(197, 1, 16)), ('Betty White', datetime.date(1922, 1, 17)), ('Mohammed Ali', datetime.date(1942, 1, 17)), ('Bridget Fonda', datetime.date(1964, 1, 27)), ('Phill Collins', datetime.date(1951, 1, 30)), ('John Ford', datetime.date(1895, 2, 1)), ('Brandon Lee', datetime.date(1965, 2, 1)), ('Charles Lindbergh', datetime.date(1902, 2, 4)), ('Alice Cooper', datetime.date(1948, 2, 4)), ('Ronald Reagon', datetime.date(1911, 2, 6)), ('Axl Rose', datetime.date(1962, 2, 6)), ('Charles Dickens', datetime.date(1812, 2, 7)), ('Robert Wagner', datetime.date(1930, 2, 10)), ('Jennifer Anniston', datetime.date(1969, 2, 11)), ('Nina Simone', datetime.date(1933, 2, 21)), ('Steven Jobs', datetime.date(1955, 2, 24)), ('Johnny Cash', datetime.date(1932, 2, 26)), ('Elisabeth Taylor', datetime.date(1932, 2, 27)), ('Bobby Fisher', datetime.date(1943, 3, 9)), ('Osama Bin Laden', datetime.date(1957, 3, 10)), ('Aretha Franklin', datetime.date(1942, 3, 25)), ('Marlon Brando', datetime.date(1924, 4, 3)), ('Bette Davies', datetime.date(1908, 4, 5)), ('Russel Crowe', datetime.date(1964, 4, 7)), ('Iggy Pop', datetime.date(1947, 4, 21)), ('Al Pacino', datetime.date(1940, 4, 25)), ('James Brown', datetime.date(1933, 5, 3)), ('Dr Benjamin Spock', datetime.date(1903, 5, 2)), ('Karl Marx', datetime.date(1818, 5, 5)), ('Sigmund Freud', datetime.date(1856, 5, 6)), ('George Lukas', datetime.date(1944, 5, 14)), ('Madeleine Albright', datetime.date(1937, 5, 15)), ('Naomi Campbell', datetime.date(1970, 5, 22)), ('Bob Dylan', datetime.date(1941, 5, 24)), ('John F. Kennedy', datetime.date(1917, 5, 29)), ('Prinses Diana', datetime.date(1961, 6, 1)), ('Tom Cruise', datetime.date(1962, 6, 3)), ('Dalai Lama', datetime.date(1935, 6, 6)), ('O.J. Simpson', datetime.date(1947, 6, 9)), ('William Clark', datetime.date(1770, 8, 1)), ('Yves Saint Laurent', datetime.date(1936, 8, 1)), ('Louis Armstrong', datetime.date(1901, 8, 4)), ('Steve Martin', datetime.date(1945, 8, 14)), ('Ben Affleck', datetime.date(1972, 8, 15)), ('Patrick Swayze', datetime.date(1952, 8, 18)), ('Roman Polanski', datetime.date(1933, 8, 18)), ('Tori Amos', datetime.date(1963, 8, 22)), ('Moeder Teresa', datetime.date(1910, 8, 27)), ('Freddy Mercury', datetime.date(1946, 9, 5)), ('Hugh Grant', datetime.date(1960, 9, 9)), ('Prins Harry', datetime.date(1984, 9, 15)), ('Oliver Stone', datetime.date(1946, 9, 15)), ('Leonard Cohen', datetime.date(1934, 9, 21)), ('Stephen King', datetime.date(1947, 9, 21)), ('Bruce Springsteen', datetime.date(1949, 9, 23)), ('Julie Andrews', datetime.date(1935, 10, 1)), ('Bob Geldof', datetime.date(1954, 10, 5)), ('Kate Winslet', datetime.date(1975, 10, 5)), ('Cliff Richard', datetime.date(1940, 10, 14)), ('Oscar Wilde', datetime.date(1854, 10, 16)), ('Alfred Nobel', datetime.date(1833, 10, 21)), ('Dolph Lungren', datetime.date(1959, 11, 3)), ('Tara Reid', datetime.date(1975, 11, 8)), ('Demi Moore', datetime.date(1962, 11, 11)), ('Leonardo di Caprio', datetime.date(1974, 11, 11)), ('Condoleezza Rice', datetime.date(1954, 11, 14)), ('Prins charles', datetime.date(1948, 11, 14)), ('Isaac Newton', datetime.date(1642, 12, 25))]

### Sorteren

$Oefening 3$: Sorteer de verkregen lijst met tuples op 2 verschillende manieren : eerst op naam, vervolgens op leeftijd. 

_Tip_ : Je kan ofwel de $sort$ methode op lijsten gebruiken, ofwel de functie $sorted$ die algemeen werkt op sequences. Probeer beide uit! Merk je een verschil?

In [23]:
import datetime

with open('DataLabo1_01.txt') as infile:
    lines = infile.readlines()
    

def datify(s):
    s = s.replace('\n','').split('/')

    return datetime.date(int(s[2]), int(s[0]), int(s[1]))


def parser(lines):
    sol = []
    for l in lines:
        l= l.split(' ')
        try:
            d = datify(l.pop())
        except ValueError:
            print('euh')
            d = 'NaN'
        name = ' '.join(l)
        sol.append((name,d))
    return sol



sol = parser(lines)

def sortName(val):
    return val[0]

def sortDate(val):
    return val[1]

sol.sort(key = sortName)
print(sol)
sorted(sol, key=sortDate)

[('Al Pacino', datetime.date(1940, 4, 25)), ('Albert Einstein', datetime.date(1879, 3, 14)), ('Alfred Nobel', datetime.date(1833, 10, 21)), ('Alice Cooper', datetime.date(1948, 2, 4)), ('Aretha Franklin', datetime.date(1942, 3, 25)), ('Axl Rose', datetime.date(1962, 2, 6)), ('Ben Affleck', datetime.date(1972, 8, 15)), ('Benjamin Franklin', datetime.date(1706, 1, 17)), ('Bette Davies', datetime.date(1908, 4, 5)), ('Betty White', datetime.date(1922, 1, 17)), ('Bob Dylan', datetime.date(1941, 5, 24)), ('Bob Geldof', datetime.date(1954, 10, 5)), ('Bobby Fisher', datetime.date(1943, 3, 9)), ('Brandon Lee', datetime.date(1965, 2, 1)), ('Bridget Fonda', datetime.date(1964, 1, 27)), ('Bruce Springsteen', datetime.date(1949, 9, 23)), ('Charles Dickens', datetime.date(1812, 2, 7)), ('Charles Lindbergh', datetime.date(1902, 2, 4)), ('Cliff Richard', datetime.date(1940, 10, 14)), ('Condoleezza Rice', datetime.date(1954, 11, 14)), ('Dalai Lama', datetime.date(1935, 6, 6)), ('Demi Moore', datetime.date(1962, 11, 11)), ('Dolph Lungren', datetime.date(1959, 11, 3)), ('Dr Benjamin Spock', datetime.date(1903, 5, 2)), ('Elisabeth Taylor', datetime.date(1932, 2, 27)), ('Freddy Mercury', datetime.date(1946, 9, 5)), ('George Lukas', datetime.date(1944, 5, 14)), ('Hugh Grant', datetime.date(1960, 9, 9)), ('Iggy Pop', datetime.date(1947, 4, 21)), ('Isaac Newton', datetime.date(1642, 12, 25)), ('J. Edgar Hoover', datetime.date(1895, 1, 1)), ('James Brown', datetime.date(1933, 5, 3)), ('Jennifer Anniston', datetime.date(1969, 2, 11)), ('John F. Kennedy', datetime.date(1917, 5, 29)), ('John Ford', datetime.date(1895, 2, 1)), ('Johnny Cash', datetime.date(1932, 2, 26)), ('Julie Andrews', datetime.date(1935, 10, 1)), ('Karl Marx', datetime.date(1818, 5, 5)), ('Kate Moss', datetime.date(197, 1, 16)), ('Kate Winslet', datetime.date(1975, 10, 5)), ('Leonard Cohen', datetime.date(1934, 9, 21)), ('Leonardo di Caprio', datetime.date(1974, 11, 11)), ('Louis Armstrong', datetime.date(1901, 8, 4)), ('Madeleine Albright', datetime.date(1937, 5, 15)), ('Marlon Brando', datetime.date(1924, 4, 3)), ('Mel Gibson', datetime.date(1956, 1, 3)), ('Michael Schumacher', datetime.date(1969, 1, 3)), ('Moeder Teresa', datetime.date(1910, 8, 27)), ('Mohammed Ali', datetime.date(1942, 1, 17)), ('Naomi Campbell', datetime.date(1970, 5, 22)), ('Nina Simone', datetime.date(1933, 2, 21)), ('O.J. Simpson', datetime.date(1947, 6, 9)), ('Oliver Stone', datetime.date(1946, 9, 15)), ('Orlando Bloom', datetime.date(1977, 1, 13)), ('Osama Bin Laden', datetime.date(1957, 3, 10)), ('Oscar Wilde', datetime.date(1854, 10, 16)), ('Patrick Swayze', datetime.date(1952, 8, 18)), ('Phill Collins', datetime.date(1951, 1, 30)), ('Prins Harry', datetime.date(1984, 9, 15)), ('Prins charles', datetime.date(1948, 11, 14)), ('Prinses Diana', datetime.date(1961, 6, 1)), ('Richard Nixon', datetime.date(1913, 1, 9)), ('Robert Wagner', datetime.date(1930, 2, 10)), ('Roman Polanski', datetime.date(1933, 8, 18)), ('Ronald Reagon', datetime.date(1911, 2, 6)), ('Russel Crowe', datetime.date(1964, 4, 7)), ('Sigmund Freud', datetime.date(1856, 5, 6)), ('Stephen King', datetime.date(1947, 9, 21)), ('Steve Martin', datetime.date(1945, 8, 14)), ('Steven Jobs', datetime.date(1955, 2, 24)), ('Tara Reid', datetime.date(1975, 11, 8)), ('Tom Cruise', datetime.date(1962, 6, 3)), ('Tori Amos', datetime.date(1963, 8, 22)), ('William Clark', datetime.date(1770, 8, 1)), ('Yves Saint Laurent', datetime.date(1936, 8, 1))]

[('Kate Moss', datetime.date(197, 1, 16)),
 ('Isaac Newton', datetime.date(1642, 12, 25)),
 ('Benjamin Franklin', datetime.date(1706, 1, 17)),
 ('William Clark', datetime.date(1770, 8, 1)),
 ('Charles Dickens', datetime.date(1812, 2, 7)),
 ('Karl Marx', datetime.date(1818, 5, 5)),
 ('Alfred Nobel', datetime.date(1833, 10, 21)),
 ('Oscar Wilde', datetime.date(1854, 10, 16)),
 ('Sigmund Freud', datetime.date(1856, 5, 6)),
 ('Albert Einstein', datetime.date(1879, 3, 14)),
 ('J. Edgar Hoover', datetime.date(1895, 1, 1)),
 ('John Ford', datetime.date(1895, 2, 1)),
 ('Louis Armstrong', datetime.date(1901, 8, 4)),
 ('Charles Lindbergh', datetime.date(1902, 2, 4)),
 ('Dr Benjamin Spock', datetime.date(1903, 5, 2)),
 ('Bette Davies', datetime.date(1908, 4, 5)),
 ('Moeder Teresa', datetime.date(1910, 8, 27)),
 ('Ronald Reagon', datetime.date(1911, 2, 6)),
 ('Richard Nixon', datetime.date(1913, 1, 9)),
 ('John F. Kennedy', datetime.date(1917, 5, 29)),
 ('Betty White', datetime.date(1922, 1, 17)),
 ('Marlon Brando', datetime.date(1924, 4, 3)),
 ('Robert Wagner', datetime.date(1930, 2, 10)),
 ('Johnny Cash', datetime.date(1932, 2, 26)),
 ('Elisabeth Taylor', datetime.date(1932, 2, 27)),
 ('Nina Simone', datetime.date(1933, 2, 21)),
 ('James Brown', datetime.date(1933, 5, 3)),
 ('Roman Polanski', datetime.date(1933, 8, 18)),
 ('Leonard Cohen', datetime.date(1934, 9, 21)),
 ('Dalai Lama', datetime.date(1935, 6, 6)),
 ('Julie Andrews', datetime.date(1935, 10, 1)),
 ('Yves Saint Laurent', datetime.date(1936, 8, 1)),
 ('Madeleine Albright', datetime.date(1937, 5, 15)),
 ('Al Pacino', datetime.date(1940, 4, 25)),
 ('Cliff Richard', datetime.date(1940, 10, 14)),
 ('Bob Dylan', datetime.date(1941, 5, 24)),
 ('Mohammed Ali', datetime.date(1942, 1, 17)),
 ('Aretha Franklin', datetime.date(1942, 3, 25)),
 ('Bobby Fisher', datetime.date(1943, 3, 9)),
 ('George Lukas', datetime.date(1944, 5, 14)),
 ('Steve Martin', datetime.date(1945, 8, 14)),
 ('Freddy Mercury', datetime.date(1946, 9, 5)),
 ('Oliver Stone', datetime.date(1946, 9, 15)),
 ('Iggy Pop', datetime.date(1947, 4, 21)),
 ('O.J. Simpson', datetime.date(1947, 6, 9)),
 ('Stephen King', datetime.date(1947, 9, 21)),
 ('Alice Cooper', datetime.date(1948, 2, 4)),
 ('Prins charles', datetime.date(1948, 11, 14)),
 ('Bruce Springsteen', datetime.date(1949, 9, 23)),
 ('Phill Collins', datetime.date(1951, 1, 30)),
 ('Patrick Swayze', datetime.date(1952, 8, 18)),
 ('Bob Geldof', datetime.date(1954, 10, 5)),
 ('Condoleezza Rice', datetime.date(1954, 11, 14)),
 ('Steven Jobs', datetime.date(1955, 2, 24)),
 ('Mel Gibson', datetime.date(1956, 1, 3)),
 ('Osama Bin Laden', datetime.date(1957, 3, 10)),
 ('Dolph Lungren', datetime.date(1959, 11, 3)),
 ('Hugh Grant', datetime.date(1960, 9, 9)),
 ('Prinses Diana', datetime.date(1961, 6, 1)),
 ('Axl Rose', datetime.date(1962, 2, 6)),
 ('Tom Cruise', datetime.date(1962, 6, 3)),
 ('Demi Moore', datetime.date(1962, 11, 11)),
 ('Tori Amos', datetime.date(1963, 8, 22)),
 ('Bridget Fonda', datetime.date(1964, 1, 27)),
 ('Russel Crowe', datetime.date(1964, 4, 7)),
 ('Brandon Lee', datetime.date(1965, 2, 1)),
 ('Michael Schumacher', datetime.date(1969, 1, 3)),
 ('Jennifer Anniston', datetime.date(1969, 2, 11)),
 ('Naomi Campbell', datetime.date(1970, 5, 22)),
 ('Ben Affleck', datetime.date(1972, 8, 15)),
 ('Leonardo di Caprio', datetime.date(1974, 11, 11)),
 ('Kate Winslet', datetime.date(1975, 10, 5)),
 ('Tara Reid', datetime.date(1975, 11, 8)),
 ('Orlando Bloom', datetime.date(1977, 1, 13)),
 ('Prins Harry', datetime.date(1984, 9, 15))]

### Sets

$Oefening 4$ : 
Breid de bovenstaande lijst uit met volgende personen :

- Roger Federer 1981/08/08
- Dustin Hoffman 1937/08/08
- Vanessa Amorosi 1981/08/08
- Whitney Houston 1963/08/09
- Meat Loaf 1947/09/27
- Cheryl Tiegs 1947/09/27
- Robert Redford 1936/08/18


Maak nu volgende verzamelingen :

* Maak voor elke maand een verzameling van personen die in deze maand van het jaar jarig zijn. Stop je resultaat in een dict als volgt : key = maand; value= verzameling personen.
* Maak voor elk jaartal (aanwezig in de data) een verzameling van personen die in dat jaar geboren zijn. Stop je resultaat in een dict als volgt : key = jaartal; value= verzameling personen.
* Maak voor elke dag in het jaar een verzameling van personen die op deze dag van het jaar jarig zijn. Stop je resultaat in een dict als volgt : key = (dag,maand); value= verzameling personen.

Gebruik makend van bovenstaande structuren kan je eenvoudig volgende queries beantwoorden :

* Geef alle mensen die in oktober jarig zijn
* In welk jaartal(len) zijn de meeste mensen geboren volgens deze data file?
* Wie is er jarig op 18 augustus?

_Tip_ : Voor het aanmaken van dicts kan je handig gebruik maken van $defaultdict$

In [36]:
import datetime

with open('DataLabo1_01.txt') as infile:
    lines = infile.readlines()
    

def datify(s):
    s = s.replace('\n','').split('/')

    return datetime.date(int(s[2]), int(s[0]), int(s[1]))


def parser(lines):
    sol = []
    for l in lines:
        l= l.split(' ')
        try:
            d = datify(l.pop())
        except ValueError:
            print('euh')
            d = 'NaN'
        name = ' '.join(l)
        sol.append((name,d))
    return sol

f = [('Roger Federer', datetime.date(1981,8,8)),
('Dustin Hoffman', datetime.date(1937,8,8)),
 ('Vanessa Amorosi', datetime.date(1981,8,8)),
('Whitney Houston', datetime.date(1963,8,9)),
('Meat Loaf', datetime.date(1947,9,27)),
('Cheryl Tiegs', datetime.date(1947,9,27)),
('Robert Redford',datetime.date(1936,8,18))]

sol = parser(lines)
sol.extend(f)

print(sol)
#print(sol)
def sortName(val):
    return val[0]

def sortDate(val):
    return val[1]

sol.sort(key = sortName)
print(sol)
sorted(sol, key=sortDate)

[('Albert Einstein', datetime.date(1879, 3, 14)), ('Benjamin Franklin', datetime.date(1706, 1, 17)), ('J. Edgar Hoover', datetime.date(1895, 1, 1)), ('Mel Gibson', datetime.date(1956, 1, 3)), ('Michael Schumacher', datetime.date(1969, 1, 3)), ('Richard Nixon', datetime.date(1913, 1, 9)), ('Orlando Bloom', datetime.date(1977, 1, 13)), ('Kate Moss', datetime.date(197, 1, 16)), ('Betty White', datetime.date(1922, 1, 17)), ('Mohammed Ali', datetime.date(1942, 1, 17)), ('Bridget Fonda', datetime.date(1964, 1, 27)), ('Phill Collins', datetime.date(1951, 1, 30)), ('John Ford', datetime.date(1895, 2, 1)), ('Brandon Lee', datetime.date(1965, 2, 1)), ('Charles Lindbergh', datetime.date(1902, 2, 4)), ('Alice Cooper', datetime.date(1948, 2, 4)), ('Ronald Reagon', datetime.date(1911, 2, 6)), ('Axl Rose', datetime.date(1962, 2, 6)), ('Charles Dickens', datetime.date(1812, 2, 7)), ('Robert Wagner', datetime.date(1930, 2, 10)), ('Jennifer Anniston', datetime.date(1969, 2, 11)), ('Nina Simone', datetime.date(1933, 2, 21)), ('Steven Jobs', datetime.date(1955, 2, 24)), ('Johnny Cash', datetime.date(1932, 2, 26)), ('Elisabeth Taylor', datetime.date(1932, 2, 27)), ('Bobby Fisher', datetime.date(1943, 3, 9)), ('Osama Bin Laden', datetime.date(1957, 3, 10)), ('Aretha Franklin', datetime.date(1942, 3, 25)), ('Marlon Brando', datetime.date(1924, 4, 3)), ('Bette Davies', datetime.date(1908, 4, 5)), ('Russel Crowe', datetime.date(1964, 4, 7)), ('Iggy Pop', datetime.date(1947, 4, 21)), ('Al Pacino', datetime.date(1940, 4, 25)), ('James Brown', datetime.date(1933, 5, 3)), ('Dr Benjamin Spock', datetime.date(1903, 5, 2)), ('Karl Marx', datetime.date(1818, 5, 5)), ('Sigmund Freud', datetime.date(1856, 5, 6)), ('George Lukas', datetime.date(1944, 5, 14)), ('Madeleine Albright', datetime.date(1937, 5, 15)), ('Naomi Campbell', datetime.date(1970, 5, 22)), ('Bob Dylan', datetime.date(1941, 5, 24)), ('John F. Kennedy', datetime.date(1917, 5, 29)), ('Prinses Diana', datetime.date(1961, 6, 1)), ('Tom Cruise', datetime.date(1962, 6, 3)), ('Dalai Lama', datetime.date(1935, 6, 6)), ('O.J. Simpson', datetime.date(1947, 6, 9)), ('William Clark', datetime.date(1770, 8, 1)), ('Yves Saint Laurent', datetime.date(1936, 8, 1)), ('Louis Armstrong', datetime.date(1901, 8, 4)), ('Steve Martin', datetime.date(1945, 8, 14)), ('Ben Affleck', datetime.date(1972, 8, 15)), ('Patrick Swayze', datetime.date(1952, 8, 18)), ('Roman Polanski', datetime.date(1933, 8, 18)), ('Tori Amos', datetime.date(1963, 8, 22)), ('Moeder Teresa', datetime.date(1910, 8, 27)), ('Freddy Mercury', datetime.date(1946, 9, 5)), ('Hugh Grant', datetime.date(1960, 9, 9)), ('Prins Harry', datetime.date(1984, 9, 15)), ('Oliver Stone', datetime.date(1946, 9, 15)), ('Leonard Cohen', datetime.date(1934, 9, 21)), ('Stephen King', datetime.date(1947, 9, 21)), ('Bruce Springsteen', datetime.date(1949, 9, 23)), ('Julie Andrews', datetime.date(1935, 10, 1)), ('Bob Geldof', datetime.date(1954, 10, 5)), ('Kate Winslet', datetime.date(1975, 10, 5)), ('Cliff Richard', datetime.date(1940, 10, 14)), ('Oscar Wilde', datetime.date(1854, 10, 16)), ('Alfred Nobel', datetime.date(1833, 10, 21)), ('Dolph Lungren', datetime.date(1959, 11, 3)), ('Tara Reid', datetime.date(1975, 11, 8)), ('Demi Moore', datetime.date(1962, 11, 11)), ('Leonardo di Caprio', datetime.date(1974, 11, 11)), ('Condoleezza Rice', datetime.date(1954, 11, 14)), ('Prins charles', datetime.date(1948, 11, 14)), ('Isaac Newton', datetime.date(1642, 12, 25)), ('Roger Federer', datetime.date(1981, 8, 8)), ('Dustin Hoffman', datetime.date(1937, 8, 8)), ('Vanessa Amorosi', datetime.date(1981, 8, 8)), ('Whitney Houston', datetime.date(1963, 8, 9)), ('Meat Loaf', datetime.date(1947, 9, 27)), ('Cheryl Tiegs', datetime.date(1947, 9, 27)), ('Robert Redford', datetime.date(1936, 8, 18))]
[('Al Pacino', datetime.date(1940, 4, 25)), ('Albert Einstein', datetime.date(1879, 3, 14)), ('Alfred Nobel', datetime.date(1833, 10, 21)), ('Alice Cooper', datetime.date(1948, 2, 4)), ('Aretha Franklin', datetime.date(1942, 3, 25)), ('Axl Rose', datetime.date(1962, 2, 6)), ('Ben Affleck', datetime.date(1972, 8, 15)), ('Benjamin Franklin', datetime.date(1706, 1, 17)), ('Bette Davies', datetime.date(1908, 4, 5)), ('Betty White', datetime.date(1922, 1, 17)), ('Bob Dylan', datetime.date(1941, 5, 24)), ('Bob Geldof', datetime.date(1954, 10, 5)), ('Bobby Fisher', datetime.date(1943, 3, 9)), ('Brandon Lee', datetime.date(1965, 2, 1)), ('Bridget Fonda', datetime.date(1964, 1, 27)), ('Bruce Springsteen', datetime.date(1949, 9, 23)), ('Charles Dickens', datetime.date(1812, 2, 7)), ('Charles Lindbergh', datetime.date(1902, 2, 4)), ('Cheryl Tiegs', datetime.date(1947, 9, 27)), ('Cliff Richard', datetime.date(1940, 10, 14)), ('Condoleezza Rice', datetime.date(1954, 11, 14)), ('Dalai Lama', datetime.date(1935, 6, 6)), ('Demi Moore', datetime.date(1962, 11, 11)), ('Dolph Lungren', datetime.date(1959, 11, 3)), ('Dr Benjamin Spock', datetime.date(1903, 5, 2)), ('Dustin Hoffman', datetime.date(1937, 8, 8)), ('Elisabeth Taylor', datetime.date(1932, 2, 27)), ('Freddy Mercury', datetime.date(1946, 9, 5)), ('George Lukas', datetime.date(1944, 5, 14)), ('Hugh Grant', datetime.date(1960, 9, 9)), ('Iggy Pop', datetime.date(1947, 4, 21)), ('Isaac Newton', datetime.date(1642, 12, 25)), ('J. Edgar Hoover', datetime.date(1895, 1, 1)), ('James Brown', datetime.date(1933, 5, 3)), ('Jennifer Anniston', datetime.date(1969, 2, 11)), ('John F. Kennedy', datetime.date(1917, 5, 29)), ('John Ford', datetime.date(1895, 2, 1)), ('Johnny Cash', datetime.date(1932, 2, 26)), ('Julie Andrews', datetime.date(1935, 10, 1)), ('Karl Marx', datetime.date(1818, 5, 5)), ('Kate Moss', datetime.date(197, 1, 16)), ('Kate Winslet', datetime.date(1975, 10, 5)), ('Leonard Cohen', datetime.date(1934, 9, 21)), ('Leonardo di Caprio', datetime.date(1974, 11, 11)), ('Louis Armstrong', datetime.date(1901, 8, 4)), ('Madeleine Albright', datetime.date(1937, 5, 15)), ('Marlon Brando', datetime.date(1924, 4, 3)), ('Meat Loaf', datetime.date(1947, 9, 27)), ('Mel Gibson', datetime.date(1956, 1, 3)), ('Michael Schumacher', datetime.date(1969, 1, 3)), ('Moeder Teresa', datetime.date(1910, 8, 27)), ('Mohammed Ali', datetime.date(1942, 1, 17)), ('Naomi Campbell', datetime.date(1970, 5, 22)), ('Nina Simone', datetime.date(1933, 2, 21)), ('O.J. Simpson', datetime.date(1947, 6, 9)), ('Oliver Stone', datetime.date(1946, 9, 15)), ('Orlando Bloom', datetime.date(1977, 1, 13)), ('Osama Bin Laden', datetime.date(1957, 3, 10)), ('Oscar Wilde', datetime.date(1854, 10, 16)), ('Patrick Swayze', datetime.date(1952, 8, 18)), ('Phill Collins', datetime.date(1951, 1, 30)), ('Prins Harry', datetime.date(1984, 9, 15)), ('Prins charles', datetime.date(1948, 11, 14)), ('Prinses Diana', datetime.date(1961, 6, 1)), ('Richard Nixon', datetime.date(1913, 1, 9)), ('Robert Redford', datetime.date(1936, 8, 18)), ('Robert Wagner', datetime.date(1930, 2, 10)), ('Roger Federer', datetime.date(1981, 8, 8)), ('Roman Polanski', datetime.date(1933, 8, 18)), ('Ronald Reagon', datetime.date(1911, 2, 6)), ('Russel Crowe', datetime.date(1964, 4, 7)), ('Sigmund Freud', datetime.date(1856, 5, 6)), ('Stephen King', datetime.date(1947, 9, 21)), ('Steve Martin', datetime.date(1945, 8, 14)), ('Steven Jobs', datetime.date(1955, 2, 24)), ('Tara Reid', datetime.date(1975, 11, 8)), ('Tom Cruise', datetime.date(1962, 6, 3)), ('Tori Amos', datetime.date(1963, 8, 22)), ('Vanessa Amorosi', datetime.date(1981, 8, 8)), ('Whitney Houston', datetime.date(1963, 8, 9)), ('William Clark', datetime.date(1770, 8, 1)), ('Yves Saint Laurent', datetime.date(1936, 8, 1))]

[('Kate Moss', datetime.date(197, 1, 16)),
 ('Isaac Newton', datetime.date(1642, 12, 25)),
 ('Benjamin Franklin', datetime.date(1706, 1, 17)),
 ('William Clark', datetime.date(1770, 8, 1)),
 ('Charles Dickens', datetime.date(1812, 2, 7)),
 ('Karl Marx', datetime.date(1818, 5, 5)),
 ('Alfred Nobel', datetime.date(1833, 10, 21)),
 ('Oscar Wilde', datetime.date(1854, 10, 16)),
 ('Sigmund Freud', datetime.date(1856, 5, 6)),
 ('Albert Einstein', datetime.date(1879, 3, 14)),
 ('J. Edgar Hoover', datetime.date(1895, 1, 1)),
 ('John Ford', datetime.date(1895, 2, 1)),
 ('Louis Armstrong', datetime.date(1901, 8, 4)),
 ('Charles Lindbergh', datetime.date(1902, 2, 4)),
 ('Dr Benjamin Spock', datetime.date(1903, 5, 2)),
 ('Bette Davies', datetime.date(1908, 4, 5)),
 ('Moeder Teresa', datetime.date(1910, 8, 27)),
 ('Ronald Reagon', datetime.date(1911, 2, 6)),
 ('Richard Nixon', datetime.date(1913, 1, 9)),
 ('John F. Kennedy', datetime.date(1917, 5, 29)),
 ('Betty White', datetime.date(1922, 1, 17)),
 ('Marlon Brando', datetime.date(1924, 4, 3)),
 ('Robert Wagner', datetime.date(1930, 2, 10)),
 ('Johnny Cash', datetime.date(1932, 2, 26)),
 ('Elisabeth Taylor', datetime.date(1932, 2, 27)),
 ('Nina Simone', datetime.date(1933, 2, 21)),
 ('James Brown', datetime.date(1933, 5, 3)),
 ('Roman Polanski', datetime.date(1933, 8, 18)),
 ('Leonard Cohen', datetime.date(1934, 9, 21)),
 ('Dalai Lama', datetime.date(1935, 6, 6)),
 ('Julie Andrews', datetime.date(1935, 10, 1)),
 ('Yves Saint Laurent', datetime.date(1936, 8, 1)),
 ('Robert Redford', datetime.date(1936, 8, 18)),
 ('Madeleine Albright', datetime.date(1937, 5, 15)),
 ('Dustin Hoffman', datetime.date(1937, 8, 8)),
 ('Al Pacino', datetime.date(1940, 4, 25)),
 ('Cliff Richard', datetime.date(1940, 10, 14)),
 ('Bob Dylan', datetime.date(1941, 5, 24)),
 ('Mohammed Ali', datetime.date(1942, 1, 17)),
 ('Aretha Franklin', datetime.date(1942, 3, 25)),
 ('Bobby Fisher', datetime.date(1943, 3, 9)),
 ('George Lukas', datetime.date(1944, 5, 14)),
 ('Steve Martin', datetime.date(1945, 8, 14)),
 ('Freddy Mercury', datetime.date(1946, 9, 5)),
 ('Oliver Stone', datetime.date(1946, 9, 15)),
 ('Iggy Pop', datetime.date(1947, 4, 21)),
 ('O.J. Simpson', datetime.date(1947, 6, 9)),
 ('Stephen King', datetime.date(1947, 9, 21)),
 ('Cheryl Tiegs', datetime.date(1947, 9, 27)),
 ('Meat Loaf', datetime.date(1947, 9, 27)),
 ('Alice Cooper', datetime.date(1948, 2, 4)),
 ('Prins charles', datetime.date(1948, 11, 14)),
 ('Bruce Springsteen', datetime.date(1949, 9, 23)),
 ('Phill Collins', datetime.date(1951, 1, 30)),
 ('Patrick Swayze', datetime.date(1952, 8, 18)),
 ('Bob Geldof', datetime.date(1954, 10, 5)),
 ('Condoleezza Rice', datetime.date(1954, 11, 14)),
 ('Steven Jobs', datetime.date(1955, 2, 24)),
 ('Mel Gibson', datetime.date(1956, 1, 3)),
 ('Osama Bin Laden', datetime.date(1957, 3, 10)),
 ('Dolph Lungren', datetime.date(1959, 11, 3)),
 ('Hugh Grant', datetime.date(1960, 9, 9)),
 ('Prinses Diana', datetime.date(1961, 6, 1)),
 ('Axl Rose', datetime.date(1962, 2, 6)),
 ('Tom Cruise', datetime.date(1962, 6, 3)),
 ('Demi Moore', datetime.date(1962, 11, 11)),
 ('Whitney Houston', datetime.date(1963, 8, 9)),
 ('Tori Amos', datetime.date(1963, 8, 22)),
 ('Bridget Fonda', datetime.date(1964, 1, 27)),
 ('Russel Crowe', datetime.date(1964, 4, 7)),
 ('Brandon Lee', datetime.date(1965, 2, 1)),
 ('Michael Schumacher', datetime.date(1969, 1, 3)),
 ('Jennifer Anniston', datetime.date(1969, 2, 11)),
 ('Naomi Campbell', datetime.date(1970, 5, 22)),
 ('Ben Affleck', datetime.date(1972, 8, 15)),
 ('Leonardo di Caprio', datetime.date(1974, 11, 11)),
 ('Kate Winslet', datetime.date(1975, 10, 5)),
 ('Tara Reid', datetime.date(1975, 11, 8)),
 ('Orlando Bloom', datetime.date(1977, 1, 13)),
 ('Roger Federer', datetime.date(1981, 8, 8)),
 ('Vanessa Amorosi', datetime.date(1981, 8, 8)),
 ('Prins Harry', datetime.date(1984, 9, 15))]

### Generator functies

Een generator functie is een manier in Python om een itereerbaar object te maken. Ze geven een sequentie van resultaten weer maar op een luie manier. De resultaten worden pas teruggegeven wanneer er expliciet naar gevraagd wordt via bv. de next() methode. Een generator zal ipv het $return$ keyword gebruik maken van het keyword $yield$.

In [1]:
#voorbeeld van een generator functie
def squares(n=10):
    for i in range(1,n+1):
        yield i**2

gen = squares()
#geef het volgende getal in de sequentie
print(gen)
print(next(gen))

print('De for lus begint nu vanaf : ')
for x in gen:
    print(x)

<generator object squares at 0x7f845c590c78>
1
De for lus begint nu vanaf :
4
9
16
25
36
49
64
81
100

$Oefening 5$: 

* Schrijf een functie $birth\_year\_month\_day$ die gegeven een jaartal, een maand en een dag alle personen teruggeven die op deze dag geboren werden.
* Schrijf een generator functie $gen\_same\_anniversaries$ die alle (dag,maand) tuples zal weergeven waarop er meer dan 1 persoon jarig is
* Schrijf een generator functie $gen\_same\_birthdays$ die alle (jaar,maand,dag) tuples zal weergeven waarop er meer dan 1 persoon jarig is

In [19]:

import datetime




def birth_year_month_day(y,m,d,db):
    sol = []
    if (y,m,d) in gen_same_birthdays(db):
        for i in db:
            if i[1] == datetime.date(y,m,d):
                sol.append(i)
    return sol


#y do dis?
def gen_same_birthdays(db):
    temp = [(i[1].year, i[1].month, i[1].day) for i in db]
    for i in temp:
        if temp.count(i) > 1:
            yield i
        
        
def gen_same_anniversaries(db):
    temp = [(i[1].day, i[1].month) for i in db]
    for i in temp:
        if temp.count(i) > 1:
            yield i

with open('DataLabo1_01.txt') as infile:
    lines = infile.readlines()
    

def datify(s):
    s = s.replace('\n','').split('/')
    return datetime.date(int(s[2]), int(s[0]), int(s[1]))


def parser(lines):
    sol = []
    for l in lines:
        l= l.split(' ')
        try:
            d = datify(l.pop())
        except ValueError:
            print('euh')
            d = 'NaN'
        name = ' '.join(l)
        sol.append((name,d))
    return sol

f = [('Roger Federer', datetime.date(1981,8,8)),
('Dustin Hoffman', datetime.date(1937,8,8)),
 ('Vanessa Amorosi', datetime.date(1981,8,8)),
('Whitney Houston', datetime.date(1963,8,9)),
('Meat Loaf', datetime.date(1947,9,27)),
('Cheryl Tiegs', datetime.date(1947,9,27)),
('Robert Redford',datetime.date(1936,8,18)),
('David Bowie', datetime.date(1942,1,17))]

sol = parser(lines)
sol.extend(f)
temp = gen_same_birthdays(sol)
temp =  gen_same_anniversaries(sol)
temp = birth_year_month_day(1942,1,17,sol)
print(temp)
for i in temp:
    print(i)

[('Mohammed Ali', datetime.date(1942, 1, 17)), ('David Bowie', datetime.date(1942, 1, 17))]
('Mohammed Ali', datetime.date(1942, 1, 17))
('David Bowie', datetime.date(1942, 1, 17))

### Plotting

$Oefening 6$ : Maak een scatter plot over de verspreiding van de verjaardagen. De X-as stelt de maanden voor, de Y-as de dagen (begrens deze!). Maak je plot 15 op 10, en duid alle verjaardagen aan met een rode dot, alle verjaardagen waarop meerdere mensen vjarig zijn met een zwarte diamant en alle dagen waarop mensen een zelfde geboortedatum delen met een blauwe ster. Voeg een legende toe.

_Tip_ : gebruik bovenstaand generatorfuncties om de juiste data te maken voor je plots. Via ´zip(*data)´ kan je lijsten van tuples unpacken.

### Matrices

Een matrix zou je in Python kunnen voorstellen als een geneste lijst. 
Je kan op een eenvoudige manier elementen accesereren (via de indices, slicing), elementen wijzigen, deleten enz..

In [ ]:
T = [[11, 12, 5, 2], [15, 6, 10, 15], [10, 8, 12, 5], [12,15,8,6]]
print(T[0])
print(T[1][2])

for r in T:
    for c in r:
        print(c,end = " ")
    print()
    
print('\ninserting:' + str([0,5,11,13,6]))
#rij toevoegen
T.insert(2, [0,5,11,13,6])

for r in T:
    for c in r:
        print(c,end = " ")
    print()

print('\nupdating:')
# wijzig de tweede rij naar [11,9,7]
...
# het element op positie(0,3) naar 100
...

print('\ndeleting')
#verwijder de derde rij
...
#verwijder het element op postie(0,0)
...

Om te rekenen met matrices echter is de numpy module aangewezen. Ook hierin wordt onderscheid gemaakt tussen een matrix en een ndarray.

In [ ]:
import numpy as np
#vector
x = np.array([1,2])

#matrix
m = np.mat( ((2,3), (3, 5)) )

#array
y = np.array( ((1,2), (5, -1)) )

print(x, x.shape,x.dtype)
print(m, m.shape, m.dtype)
print(n,n.shape,n.dtype)
print(y, y.shape,y.dtype)

print(x+x)

print('\n', y*y)
print(np.dot(y,y))
print(y@y)

print('\n', m*m)
print(np.dot(m,m))

$Oefening 7$ : Vraagstuk : 4 personen kopen elk respectivelijk volgende hoeveelheid paaseieren
        * persoon 1 : 100g witte, 175gr bruine, 210gr zwarte
        * persoon 2 : 90g witte, 160gr bruine, 150gr zwarte
        * persoon 3 : 200g witte, 50gr bruine, 100gr zwarte
        * persoon 4 : 120g witte, 310gr zwarte
De volgende prijzen worden gehanteerd :
* witte chocolade : 2.98 euro / 100g
* bruine chocolade : 1.99 euro /100g
* zwarte chocolade : 3.90 euro /100g

Bereken via matrix operaties in numpy hoeveel euro elk van hen zal betalen.